@page
@model Mirza.Web.Pages.AboutMirzaModel
@{
    ViewData["Title"] = "درباره میــ...رزا";
}

    <div class="row">
        <div class="col">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="javascript:;">
                        <img class="img" src="~/img/mirza-profile.jpg">
                    </a>
                </div>
                <div class="card-body">
                    <h6 class="card-category text-gray">درباره میرزا</h6>
                    <h4 class="card-title">پیدایش</h4>
                    <p class="card-description">
                        ایده‌ی میرزا در دوران دورکاری به دلیل شیوع ویروس کرونا (COVID-19) به وجود اومد.
                        ایده‌ی اولیه این بود که ما - به عنوان همکارهای بخش فنی یه شرکت - هر روز داشتیم برای مدیر واحدمون تایم‌شیت می‌فرستانیم.
                        اون هم نه تو یه قالب مشخص. بلکه هر کسی تو هر فرمتی که دوست داشت.

                    </p>
                </div>
            </div>
        </div>
    </div>

